<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div id="offer-list" class="container">
		<h2 th:text="#{offers.message}"></h2>
		

		<div th:if="${!#session.getAttribute('activeUser').getEnoughMoney()}">
			<p th:text="#{cantBuy.message}"></p>
		</div>
		<p th:text="#{find.message}"></p>
		<form class="navbar-form" action="/offer/list">
			<div class="form-group">
				<input name="searchText" type ="text" class="form-control" size = "50">
			</div>
			<button id="search" type="submit" class="btn btn-default" th:text="#{find.message}"></button>
		</form>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableOffers"
				id="tableOffers">
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th th:text="#{user.message}"></th>
						<th th:text="#{title.message}"></th>
						<th th:text="#{details.message}"></th>
						<th th:text="#{date.message}"></th>
						<th th:text="#{amount.message}"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}"
						th:if="${offer.available == true}">
						<td th:text="${offer.id}"></td>
						<td th:text="${offer.user.email}"></td>
						<td th:text="${offer.title}"></td>
						<td th:text="${offer.details}"></td>
						<td th:text="${offer.getDate()}"></td>
						<td th:text="${offer.amount}"></td>
						<td>
							<div>
								<div th:if="${offer.available}">
									<a th:href="${'/offer/' + offer.id + '/available'}"
										th:id="${offer.id}" th:text="#{buy.message}"></a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/paginacion" />
	</div>
	<footer th:replace="fragments/footer" />

</body>
</html>